@font-face {
	src: url(../fonts/The-Amazing-Spider-Man.ttf);
	font-family: ASM;
}

@font-face {
	src: url(../fonts/mangat.ttf);
	font-family: Manga;
}

body {
	background-image: url('https://images.unsplash.com/photo-1588497859490-85d1c17db96d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80');
	background-size: 100%;
	padding: 5px;
}

#survey {
	padding: 2.5rem;
	max-width: 600px;
	margin: auto;
	background-color: hsla(0, 0%, 0%, 0.85);
	color: white;
}

h1 {
	font-size: 40px;
	font-family: ASM;
	font-style: italic;
	margin-top: 10px;
	text-align: center;
	padding-top: 5px;
}

#survey-date {
	text-align: center;
	font-size: 15px;
	font-family: Manga;
	font-style: italic;
	margin: -25px 0 -5px 0;
}

p {
	text-align: center;
	font-size: 14px;
	margin: 1rem 1rem 0 1rem;
	font-family: Trebuchet MS;
}

label {
	display: block;
	margin: .5rem 0 .25rem;
	width: 100%;
	font-size: 18px;
}

form {
	margin: 0 auto;
	max-width: 600px;
	min-width: 300px;
	padding-bottom: 2em;
}

/* input,
text {
	width: 100%;
	margin: auto;
} */

.inline {
	width: unset;
	margin: 0 .5em 0 0;
	vertical-align: middle;
}

[type=checkbox] {
	margin: 0 .5em 0 0;
	vertical-align: middle;
}

#general-information > input,
#experience-reading-div > input {
	height: 2em;
	min-width: 50%;
	width: 100%;
	background-color: rgb(225, 225, 225);
	padding: 0.5rem .5rem 0rem;
	border: 1px solid #ced4da;
	border-radius: .25rem;
}

#reading-costs > #dropdown {
	width: 100%;
	height: 2em;
	background-color: rgb(225, 225, 225);
	border: 1px solid #ced4da;
	border-radius: .25rem;
}

::placeholder {
	font-family: Trebichet MS;
	font-size: large;
}

#general-information,
#experience-reading-div,
#companies-div,
#reading-style,
#reading-costs,
#additional-info-div {
	/* margin: 0rem auto 1.25rem auto; */
	padding: .25rem .75rem .25rem .75rem;
	font-family: Trebuchet MS;
}

#additional-info {
	background-color: rgb(225, 225, 225);
	border: 1px solid #ced4da;
	border-radius: .25rem;
	width: 100%;
}

#submit {
	margin: 1rem 0;
	width: 100%;
	height: 2.5rem;
	background-color: rgb(129, 3, 3);
	color: rgb(255, 255, 255);
	font-family: ASM;
	font-size: 25px;
	padding: .25rem 0 1rem 0;
	border: 1px solid black;
	border-radius: .25rem;
}
